comparison operators

In [2]:
2 == 2

True

In [4]:
2==1

False

In [7]:
1 <2 <3

True

In [9]:
'h' == 'h' and 2 == 2

True

if, elif, else statements

In [14]:
if True:
    print('IT IS TRUE')

IT IS TRUE

In [16]:
hungry = True
if 3>2:
    print('IT IS TRUE')

IT IS TRUE

In [19]:
if hungry:
    print('Feed me!')
else:
    print('Im not hungry')

Feed me!

In [25]:
loc = 'Bank'
    
if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print('Money is here')
elif loc == 'Store':
    print("Welcome to the store")
else:
    print("I do not know much")

Money is here

In [27]:
name = 'Sammy'

In [28]:
if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy")
else:
    print('What is your name?')

Hello Sammy

In [30]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [33]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [36]:
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [39]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [41]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [43]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [45]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [47]:
len(mylist)

4

In [50]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [52]:
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8