comparison operators

In [2]:
2 == 2

True

In [4]:
2==1

False

In [7]:
1 <2 <3

True

In [9]:
'h' == 'h' and 2 == 2

True

if, elif, else statements

In [14]:
if True:
    print('IT IS TRUE')

IT IS TRUE

In [16]:
hungry = True
if 3>2:
    print('IT IS TRUE')

IT IS TRUE

In [19]:
if hungry:
    print('Feed me!')
else:
    print('Im not hungry')

Feed me!

In [25]:
loc = 'Bank'
    
if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print('Money is here')
elif loc == 'Store':
    print("Welcome to the store")
else:
    print("I do not know much")

Money is here

In [27]:
name = 'Sammy'

In [28]:
if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy")
else:
    print('What is your name?')

Hello Sammy

In [30]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [33]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [36]:
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [39]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [41]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [43]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [45]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [47]:
len(mylist)

4

In [50]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [55]:
for a,b in mylist:
    
    print(b)

2
4
6
8

In [57]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [59]:
for a,b,c in mylist:
    print(b)

2
6
9

In [68]:
d = {'k1':1, 'k2':2, 'k3':3}
for value in d.values():
    print(value)

1
2
3

while loops

In [73]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1

else:
    print("X IS NOT LESS THAN 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

In [76]:
x = [1,2,3]

for item in x:
    pass

print('end of my script')

end of my script

In [77]:
mystring = 'Sammy'

In [80]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [82]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [85]:
x = 0

while x <5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

operators

In [86]:
mylist = [1,2,3]

In [89]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [92]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [95]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [97]:
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [100]:
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [109]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a', 'b', 'c']
mylist3 = [100,200,300]

In [110]:
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [112]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [116]:
2 in [1,2,3]

True

In [117]:
'x' in ['x', 'y','z']

True

In [119]:
'a' in 'a world'

True

In [121]:
'mykey' in {'mykey':345}

True

In [124]:
d = {'mykey':345}

345 in d.keys()

False

In [126]:
min(mylist)

1

In [128]:
max(mylist)

3

In [130]:
from random import shuffle

In [133]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [138]:
shuffle(mylist)

In [140]:
mylist

[4, 2, 6, 1, 7, 9, 10, 3, 8, 5]

In [142]:
from random import randint

In [147]:
randint(0,100)

36

In [148]:
randint(0,100)

15

In [154]:
result = input('Enter a number here:')

Enter a number here:50

In [156]:
result

'50'

In [158]:
float(result)

50.0

In [160]:
int(result)

50

list comprehensions

In [162]:
mystring = 'hello'

In [164]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [166]:
mylist

['h', 'e', 'l', 'l', 'o']

In [170]:
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [175]:
mylist = [abc for abc in 'word']

In [176]:
mylist

['w', 'o', 'r', 'd']

In [182]:
mylist = [num**2 for num in range(0,11)]

In [184]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [186]:
mylist = [x for x in range(0,11) if x%2==0]
mylist

[0, 2, 4, 6, 8, 10]

In [188]:
celcius = [0,10,20,34.5]

farenheit = [( (9/5)*temp + 32) for temp in celcius]
farenheit

[32.0, 50.0, 68.0, 94.1]

In [190]:
farenheit = []

for temp in celcius:
    farenheit.append(( (9/5)*temp + 32))
farenheit

[32.0, 50.0, 68.0, 94.1]

In [193]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [195]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

test overview

In [225]:
st = 'Sam Print only the words that start with s in this sentence'

In [216]:
st.split()

['Print',
 'every',
 'word',
 'in',
 'this',
 'sentence',
 'that',
 'has',
 'an',
 'even',
 'number',
 'of',
 'letters']

In [228]:
for word in st.split():
    if word[0].lower() == 's':
        print(word)

Sam
start
s
sentence

use range() to print all the even numbers from 0 to 10

In [229]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [230]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

use a list comprehension to create a list of all numbers between 1 and 50 that are divisible by 3

In [231]:
for num in range(0,50):
    if num % 3 == 0:
        print(num)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [232]:
[x for x in range(1,51) if x%3 == 0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

## go through the string below and if the length of a word is even print "even!"

In [239]:
st = 'Print every word in this sentence that has an even number of letters'

In [240]:
for word in st.split():
    if len(word) % 2 == 0:
        print(word+ " is even!")

word is even!
in is even!
this is even!
sentence is even!
that is even!
an is even!
even is even!
number is even!
of is even!

### write a program that prints the integars from 1 to 100. but for multiples of three print "Fizz" instead of the number and for multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [241]:
for num in range(1,101):
    if num%3 == 0 and num%5 == 0:
        print('FizzBuzz')
    elif num%3 ==0:
        print('Fizz')
    elif num%5 == 0:
        print('Buzz')
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

## Use list comprehension to create a list of the first letters of every word in the string below

In [ ]:
st = 'Create a list of the first letters of every word in this string'

In [ ]:
[word for word in st.spl]